# option_settings:
#   aws:elasticbeanstalk:command:
#     Timeout: 2000
#   aws:elasticbeanstalk:application:environment:
#     BUNDLE_PATH: "vendor/bundle"
#     BUNDLE_WITHOUT: "test:development"
#     BUNDLE_DISABLE_SHARED_GEMS: 1
#     RAILS_SKIP_MIGRATIONS: true
#     LOGGING: debug

# packages:
#   yum:
#     git: []
#     curl: []
#     wget: []
#     openssl-devel: []

# commands:
#   01_postgres_activate:
#     command: sudo amazon-linux-extras enable postgresql10
#   02_postgres_install:
#     command: sudo yum install -y postgresql-devel

# container_commands:
#   16_bundle_install:
#     command: "bundle install"
#   20_db_migrate:
#     command: "bundle exec rails db:migrate"
