option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 5000

packages:
  yum:
    amazon-linux-extras: []
    jq: []

commands:
  00_set_vars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql10
  02_postgres_install:
    command: sudo yum install -y postgresql-devel
  03_chown_webapp_dir:
    command: "chown webapp:webapp /home/webapp"
    ignoreErrors: true
  04_chmod_webapp_dir:
    command: "chmod 0744 /home/webapp"
    ignoreErrors: true
  05_chmod_logs:
    command: "chown webapp:webapp -R /var/app/current/log/"
    ignoreErrors: true
  06_create_log_file:
    command: "touch /var/app/current/log/production.log"
    ignoreErrors: true
  07_chown_log_production:
    command: "chown webapp:webapp /var/app/current/log/production.log"
    ignoreErrors: true
  08_chmod_log_dir:
    command: "chmod 0664 -R /var/app/current/log/"
    ignoreErrors: true
  09_chown_current:
    command: "chown webapp:webapp -R /var/app/current/"
    ignoreErrors: true
  10_chmod_current:
    command: "chmod 0755 -R /var/app/current/"
    ignoreErrors: true
  11_chmod_tmp_pids:
    command: "sudo chmod g+w -R /var/app/current/tmp/pids"

container_commands:
  01_tenants_db_migrate:
    command: "bundle exec rails tenants:db:migrate"
  02_delayed_job_stop:
    command: "bin/delayed_job stop"
  03_delayed_job_start:
    command: "bin/delayed_job start"

# Referencias
# commands:
# 00
# https://aws.amazon.com/ar/premiumsupport/knowledge-center/elastic-beanstalk-env-variables-shell/
# https://benoit.cx/setting-up-rails-6-1-app-on-beanstalk-paper-cuts-edition/

# 01
# https://stackoverflow.com/questions/61148791/postgresql-on-elastic-beanstalk-amazon-linux-2/63204453#63204453
