# files:
#   "/opt/elasticbeanstalk/hooks/custom/environments/postdeploy/send_logs_to_cloudwatch.sh":
#     mode: "000755"
#     owner: root
#     group: root
#     content: |
#       #!/bin/bash
#       LOG_GROUP_NAME = "/aws/elasticbeanstalk/Ebgiancarlo-env/var/app/current/log/production.log"
#       LOG_STREAM_NAME = {instance_id}
#       LOG_FILE_LOCATION="/var/app/current/log/production.log"
#       /usr/bin/aws logs create-log-group --log-group-name $LOG_GROUP_NAME
#       /usr/bin/aws logs create-log-stream --log-group-name $LOG_GROUP_NAME --log-stream-name $LOG_STREAM_NAME
#       /usr/bin/aws logs put-log-events --log-group-name $LOG_GROUP_NAME --log-stream-name $LOG_STREAM_NAME --log-events file://$LOG_FILE_LOCATION

# container_commands:
#   01_create_log_directories:
#     command: "mkdir -p /var/app/current/log"
#   02_send_logs_to_cloudwatch:
#     command: "/opt/elasticbeanstalk/hooks/custom/environments/postdeploy/send_logs_to_cloudwatch.sh"
